@model Models.HackIdea_Id

<li>
<p>@Html.ActionLink(Model.Name,"Index", "ViewHackIdea", new { id = Model.Id }, null)
(@Html.DisplayFor(f => f.NumLikes))
- @Html.DisplayFor(f => f.Author) </p>
<p>@Html.DisplayFor(f => f.Description)</p>
<p>Tags: @Html.DisplayFor(f => f.Tags)</p>
</li>